<?xml version="1.0" ?>

<robot name="battery_plugin"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="battery_plugin" params="name parent=base_link x=0.0 y=0.0 z=0.0 roll=0.0 pitch=0.0 yaw=0.0">
        <gazebo>
        <link name="${name}_link">
            <battery name="${name}">
                <voltage>12.592</voltage>
            </battery>
        </link>
            <plugin name="battery" filename="libbattery_discharge.so">
                <ros_node>battery_monitor_client</ros_node>
                <link_name>${name}_link</link_name>
                <battery_name>${name}</battery_name>
                <constant_coef>12.694</constant_coef>
                <linear_coef>-3.1424</linear_coef>
                <initial_charge>1.1665</initial_charge>
                <capacity>1.2009</capacity>
                <resistance>0.061523</resistance>
                <smooth_current_tau>1.9499</smooth_current_tau>
                <charge_rate>2</charge_rate>
            </plugin>
            <plugin name="consumer" filename="libbattery_consumer.so">
                <link_name>${name}_link</link_name>
                <battery_name>${name}</battery_name>
                <power_load>60.6</power_load>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
